
.layout {
    display: grid;
    justify-content: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .input {
    width: 80%;
    margin: 1rem auto;
}

.centerSpaced {
    margin: 1.1rem auto;
    text-align: center;
}

@media (min-width: 576px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.7fr;
    }

    .form {
        width: 40vw;
        min-height: 50vh;
        z-index: 3;
        grid-column: 1;
        grid-row: 2;
        bottom: 40vh;
        left: 15vw;
    }

    .image {
        width: 40vw;
        position: relative;
        z-index: 1;
        right: 10vw;
        grid-column: 2;
        grid-row: 1;
        rotate: 8deg;
        top: -20vh;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
    
    .form {
        width: 60vw;
        left: 20vw;
        grid-row: 1;
        top: 25vh;
        height: 50vh;
    }

    .image {
        width: 70vw;
        right: 20vw;
    }
    
}

@media (max-width: 576px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr;
        justify-content: center;
    }   
    
    .form {
        width: 70vw;
        height: 50vh;
        grid-column: 1;
        grid-row: 1;
        z-index: 3;
        justify-self: center;
    }

    .image {
        width: 100vw;
        position: relative;
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
    }
    
}

@media (min-width: 768px) and (max-width: 992px) {

    .image {
        width: 60vw;
    }

    .form {
        width: 50vw;
        height: 50vh;
        grid-row: 1;
        top: 25vh;
    }
}

@media (min-width: 992px) {

    .form {
        bottom: 50vh;
    }
}