form {
    /* background-color: rgb(227, 227, 227); */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    border: 1px solid #000;
    height: auto;
}

.usernameInput {
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.usernameInput:hover {
    border-bottom: 1px solid #2eff4a;
}
.firstNameInput {
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.firstNameInput:hover {
    border-bottom: 1px solid #2eff4a;
}

.lastNameInput {
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.lastNameInput:hover {
    border-bottom: 1px solid #2eff4a;
}

.emailInput{
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.emailInput:hover {
    border-bottom: 1px solid #2eff4a;
}

.passwordInput {
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.passwordInput:hover {
    border-bottom: 1px solid #2eff4a;
}

.registerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #000;
    background-color: #f1c470;
    color: #1c3e8e;
    width: 80px;
    height: 40px;
}
.confirmPasswordInput {
    font-size: 18px;
    width: 50%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}