.layout {
    display: grid;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form .input {
    width: 80%;
    margin: 1rem auto;
}

.centerSpaced {
    margin: 1.1rem auto;
    text-align: center;
}

@media (max-width: 768px) {
    .form {
        width: 80vw;
    }
    
    .image {
        display: none;
    }
}

@media (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.2fr;
        justify-content: center;
    }
    
    .form {
        position: relative;
        width: 40vw;
        min-height: 30vh;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;
        left: 15vw;
    }
    
    .image {
        width: 50vw;
        position: relative;
        z-index: 1;
        right: 10vw;
        grid-column: 2;
        grid-row: 1;
        bottom: 10vh;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .image {
        width: 70vw;
        right: 15vw;
    }

    .form {
        width: 55vw;
        left: 15vw;
    }
}

